<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EmailData 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EmailData.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04707A441E42DE86008E433A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04707A621E434202008E433A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04707A761E4343CF008E433A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04707A851E4343CF008E433A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04707A9D1E434595008E433A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04707AB01E4357AC008E433A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
